.sliders {
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.4);
}

.slider {
  height: 200px;
  width: 50px;
}

.slider-label {
  text-align: center;
}

.slider-wrapper {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 5px;
}
